@import 'variables';

h1 {
  margin: 0;
  font-family: 'bebas';
  font-size: 4em;
  color: $teal-tint;
  word-spacing: 12px;
}

.fade-in-delay {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;

  background-image: url('../assets/images/fav-icon-no-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40em;

  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1500ms;
}

.item {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

.footer {
  position: absolute;
  color: $white;
  font-weight: bold;
  text-align: center;
  height: 45px;
  width: 100%;
  bottom: 0;

  a {
    color: $white;
    font-family: 'libre';
    text-decoration: none;

    &:hover {
      color: $orange;
      cursor: pointer;
    }

    &:first-of-type {
      margin-right: 0.75em;
    }

    &:last-of-type {
      margin-left: 0.75em;
    }
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 6em;
  }
  p {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
