<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="wrapper">
    <div class="content">
      <div class="item fade-in-delay">
        <h1>{{ message }}</h1>
      </div>
      <div class="footer fade-in-delay">
        <a [href]="mailHref" target="_blank">Email</a>
        <a [href]="igHref" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</div>
