@import 'variables';

// Title
@font-face {
  font-family: bebas;
  src: url(assets/fonts/BebasNeue-Regular.ttf) format('opentype');
}

// Sub title
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Regular.ttf) format('opentype');
}

// Text
@font-face {
  font-family: libre;
  src: url(assets/fonts/LibreFranklin-VariableFont_wght.ttf) format('opentype');
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $teal;
}
