$black: #222;
$white: #fffafa;

$red: #bf3f27;
$orange: #ef7b4f;
$brown: #cb9573;
$cyan: #72a2ac;
$teal: #3d6c6f;

$red-tint: #f7dfda;
$orange-tint: #f5b095;
$brown-tint: #e0bfab;
$cyan-tint: #e1ebed;
$teal-tint: #dde5e6;
